.s{
    margin-left: 40%;
}
.h{
    text-align: center;
    background-color: rgb(94, 88, 170);
    padding-bottom: 10px;
}
.l{
    margin-left: 90%;
    margin-top:3%;
 }
 .ui-datatable .ui-datatable-thead > tr > th,
 .ui-datatable .ui-datatable-tfoot > tr > td,
 .ui-datatable .ui-datatable-data > tr > td {
     border-color: inherit;
     box-sizing: border-box;
     padding: .25em .5em;
     border-width: 1px;
     border-style: solid;
     color:red;
 }